@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&family=Markazi+Text:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Karla', sans-serif;
}

#root {
  min-height: 100vh;
  min-width: 1225px;
  display: flex;
  flex-direction: column;
}

body {
  background-color: white;
  /* padding: 0 10rem; */
  padding: 0%;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 3rem;
  padding: 1rem 10rem;
}

main {
  flex: 1;
 }

section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5rem;
}

h1 {
  font-size: 4rem;
  font-family: 'Markazi Text', serif;
  color: #F4CE14;
}

p {
  font-size: 1.1rem;
  font-weight: 500;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(250, 235, 215), rgba(0, 0, 0, 0));
}

.box-shadow {
  box-shadow: 5px 5px 5px rgba(40, 40, 40, 0.5);
}

/* Header Styles */

#header {
  font-size: 1.5em;
  margin-bottom: 0%;
}

header img {
  width: auto;
  height: 6rem;
  cursor: pointer;
}

header ul {
  display: flex;
}

header ul li {
  margin: .7rem;
  text-transform: uppercase;
  font-weight: 500;
}

header a {
  color: #000;
  cursor: pointer;
  transition: all ease-in-out .2s;
}

header a:hover {
  color: #faebd7;
}

/* Button Styles */

.button-primary {
  padding: 1rem 2rem;
  background-color: #F4CE14;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: .5rem;
  transition: all linear .1s;
}

.button-primary:hover {
  background-color: #000;
  color: #f4ce14;
}

/* Hero Section */

#hero {
  background-color: #495E57;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding: 0rem 10rem;
}

.hero-text h2 {
  margin: -1rem 0 1.5rem;
  font-size: 2.2rem;
  color: #faebd7;
}

.hero-text p {
  margin-bottom: 2rem;
}

#hero img {
  width: 47%;
  border-radius: 1rem;
  margin-right: 10rem;
}

#hero button {
  align-self: flex-start;
}


/* Menu/Specials Section */

#menu {
  flex-direction: column;
  padding: 2rem 10rem;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.specials-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.specials-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 450px;
  margin: 3rem 1.5rem;
  background-color: #82938d;
  border-radius: 2rem;
}

.specials-card img {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.specials-text {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: 100%;
}

.specials-header {
  display: flex;
  justify-content: space-between;
}

.specials-card .order-delivery {
  display: flex;
  justify-content: space-between;
  width: 62%;
  margin-top: auto;
  font-size: 1.2rem;
}

/* Reviews Section */

#reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(168, 168, 168);
}

#reviews h1 {
  margin-bottom: 4rem;
}

.review-cards {
  display: flex;
}

.review-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  width: 250px;
  background-color: rgba(40, 40, 40, 0.5);
  padding: 1rem;
  margin: 1rem;
  color: #faebd7;
  border-radius: 1rem;
}

.review-card > * {
  margin-bottom: .4rem;
}

.review-header {
  display: flex;
}

.review-header img {
  height: 100px;
  width: 100px;
  margin-right: 1rem;
}

.review-stars {
  display: flex;
  align-items: center;
}

/* About Section */

#about {
  justify-content: space-around;
  align-items: center;
  background-color: #EDEFEE;
}

.about-text {
  width: 40%;
}

.about-text h2 {
  margin: -1rem 0 1.5rem;
  font-size: 2.2rem;
  color: #faebd7;
}

.about-text p {
  margin-bottom: 2rem;
}

.about-img {
  height: calc(2572px / 4);
  width: calc(1920px / 4);
  background-color: #000;
  background: linear-gradient(0deg,rgba(255, 221, 0, 0.4), rgba(255, 221, 0, 0.4)), url(/public/couple.jpg) no-repeat;
  background-size: contain;
  border-radius: 1rem;
}

/* Reservation Form */

.booking-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 3rem 0rem 3rem 0rem;
}

form {
  min-width: 30rem;
	background: #f4f7f8;
	padding: 30px;
	border-radius: .5rem;
  font-family: 'Karla', sans-serif;
}

form fieldset{
	border: none;
}

form legend {
	font-size: 1.5rem;
	margin-bottom: 10px;
}

form label {
	margin: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="date"],
form select {
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 1.2rem;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}


form input[type="date"],
form select {
  width: 48%;
}

form select {
  margin-left: 4%;
}

form input[type="date"]:focus,
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="time"]:focus,
form select:focus{
	background: #d2d9dd;
}

form .number {
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

form button,
form button
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #000;
	margin-top: 3rem;
	background: #f4ce14;
  border-radius: .5rem;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #f4ce14;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
form button:hover,
form button:hover
{
	background: #f4ce14;
}

/* Confirmation Page */

.confirmation-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60vh;
  padding: 2rem 10rem;
  background-color: #EDEFEE;
  padding-bottom: 4rem;
}

.confirmation-message h1 {
  font-size: 4rem;
}

.confirmation-message h2 {
  font-size: 2rem;
  color: #F4CE14;
}

/* Footer Section */

footer {
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 10rem;
  font-size: 1.2rem;
  color: #EDEFEE;
  height: 20rem;
}

footer img {
  height: 13rem;
  cursor: pointer;
}

footer li {
  color: #EDEFEE;
  margin-top: .2rem;
}

footer a {
  color: #EDEFEE;
  cursor: pointer;
  transition: all ease-in-out .2s;
}

footer a:hover {
  color: #faebd7;
}